<footer class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
      <small class="navbar-brand">
        <a href="http://railstutorial.org/">Rails Tutorial</a>
        by Michael Hartl
      </small>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
